@model MVC5Introduction.Models.Category

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCategory</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>id :</td>
                <td>
                    @Html.TextBoxFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <td>Name :</td>
                <td>
                    @Html.TextBoxFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>Rating :</td>
                <td>
                    @Html.TextBoxFor(model => model.Rating)
                </td>
            <tr>

                <td>
                    <input type="submit" value="Create" />
                </td>
            </tr>
            </tr>
        </table>

        <h3>Sample Category Send from Controller</h3>
        <p>id : @Model.Id</p>
        <p>Name : @Model.Name</p>
        <p>Rating : @Model.Rating</p>

    </div>
    <div>
        @Html.ActionLink("back to list", "Index1")
    </div>
</body>
</html>
